{% extends 'layout/master.html' %}
{% load humanize %}

{% block title %}
    Expense Details - {{ expense.name }}
{% endblock %}

{% block content %}
    <div class="btn btn-group float-end">
        <a href="{% url 'expenses_list' %}" class="btn btn-warning float-end btn-sm">
            <i class="fa fa-caret-left fa-fw"></i> Go Back
        </a>
    </div>
    <h1 class="h3 mb-3">
        <i class="fa fa-eye fa-fw"></i> Expense Details
    </h1>

    <br>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-lg-3 gb-5">
                        <div class="col">
                            <label>Name</label>
                            <h4>{{ expense.name }}</h4>
                        </div>
                        <div class="col">
                            <label>Amount</label>
                            <h4>Ksh {{ expense.amount|intcomma }}</h4>
                        </div>
                        <div class="col">
                            <label>Date</label>
                            <h4>{{ expense.when }}</h4>
                        </div>
                    </div>
                    <div class="col pt-2">
                        <label>Description</label>
                        <h4>{{ expense.description|linebreaks }}</h4>
                    </div>
                    <br>

                    <a href="{% url 'expenses_delete' pk=expense.id %}" class="btn btn-outline-danger float-end btn-sm">
                        <i class="fa fa-trash fa-fw"></i> Delete
                    </a>
                    <a href="{% url 'expenses_update' pk=expense.id %}"
                       class="btn btn-primary btn-sm">
                        <i class="fa fa-edit fa-fw"></i> Edit
                    </a>
                </div>
            </div>
            <p class="text-muted">
                Recorded by {{ expense.author.first_name }} {{ expense.author.last_name }} on {{ expense.created_at }}
            </p>
        </div>
    </div>

{% endblock content %}