{% extends 'layout/master.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if editing %}
        Edit sale
    {% else %}
        Create sale
    {% endif %}
{% endblock %}

{% block content %}

    {% if editing %}
        <a href="{% url 'sales_details' pk=sale.id %}" class="btn btn-warning float-end btn-sm">
            <i class="fa fa-caret-left fa-fw"></i> Go Back
        </a>
    {% else %}
        <a href="{% url 'sales_list' %}" class="btn btn-warning float-end btn-sm">
            <i class="fa fa-caret-left fa-fw"></i> Go Back
        </a>
    {% endif %}

    <h1 class="h3 mb-3">
        {% if editing %}
            <i class="fa fa-file-edit fa-fw"></i> Edit a sale
        {% else %}
            <i class="fa fa-plus-circle fa-fw"></i> Create a sale
        {% endif %}
    </h1>
    <br>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="fa fa-check-circle fa-fw"></i> Save Expense
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}