{% extends 'layout/master.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h1 class="text-muted mb-4">Shortcuts</h1>
    <div class="row">
        <div class="col-6 col-lg-3">
            <div class="card">
                <a href="{% url 'expenses_create' %}">
                    <div class="card-body text-center">
                        <h4 class="mb-3">
                            <i class="fa fa-money-bill fa-2x"></i>
                            <br>
                            Record Expense
                        </h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="card">
                <a href={% url 'sales_create' %}#">
                    <div class="card-body text-center">
                        <h3 class="mb-3">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <br>
                            Record Sale
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <br>

    <h1 class="text-muted mb-4">Current Weather</h1>
    <div class="row">
        {# Weather description #}
        <div class="col-6 col-lg-3">
            {% include 'component/widget.html' with label='Current Weather' value=current_weather.description %}
        </div>

        {# 12 hour precipitation #}
        <div class="col-6 col-lg-3">
            {% include 'component/widget.html' with label='Rain in the last 12 hours' value=current_weather.precipitation_12_hr_formatted %}
        </div>

        {# Temperature #}
        <div class="col-6 col-lg-3">
            {% include 'component/widget.html' with label='Temperature' value=current_weather.temperature_formatted %}
        </div>

        {# Relative humidity #}
        <div class="col-6 col-lg-3">
            {% include 'component/widget.html' with label='Relative Humidity' value=current_weather.relative_humidity_formatted %}
        </div>
    </div>
    <br>

    <h1 class="text-muted mb-4">Financial Summaries</h1>
    <div class="row">
        {# Sales this month #}
        <div class="col-6 col-lg-3">
            {% include 'component/statistic.html' with label='Sales This Month' value=sales_this_month %}
        </div>

        {# Total sales #}
        <div class="col-6 col-lg-3">
            {% include 'component/statistic.html' with label='Total Sales' value=total_sales %}
        </div>

        {# Month expenses #}
        <div class="col-6 col-lg-3">
            {% include 'component/statistic.html' with label='Expenses This Month' value=expenses_this_month %}
        </div>

        {# Total Expenses #}
        <div class="col-6 col-lg-3">
            {% include 'component/statistic.html' with label='Total Expenses' value=total_expenses %}
        </div>
    </div>
    <br>

    {# Rainfall trends #}
    <h1 class="text-muted mb-4">Rainfall Trends</h1>

    {# Temperature trends #}
    <h1 class="text-muted mb-4">Temperature Trends</h1>

    {# RH trends #}
    <h1 class="text-muted mb-4">Humidity Trends</h1>

{% endblock content %}