{% extends "layout/master.html" %}

{% block title %}
    Weather Information
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12 my-3">
            <h1 class="h3 mb-3">
                <i class="fa fa-cloud-rain fa-fw"></i> Weather Databank
            </h1>
        </div>
    </div>

    {# Latest weather #}
    {% include "weather/component/latest.html" with latest=latest %}

    <div class="row">

        <div class="col-12 text-center">
            {% include 'component/messages.html' %}
        </div>

        <div class="col-12">
            <h3 class="text-muted">
                Weather Databank
            </h3>
        </div>

        {% if weatherdata %}
            {# Desktop view #}
            <div class="col-12 d-none d-lg-block">
                <table class="table table-hover bg-white">
                    <tr>
                        <th>Timestamp</th>
                        <th>Description</th>
                        <th>Temp</th>
                        <th>Relative Humidity</th>
                        <th>Wind Speed</th>
                        <th>UV Index</th>
                        <th>Cloud Cover</th>
                        <th>Cloud Ceiling</th>
                        <th colspan="2">12 Hr Precipitation</th>
                    </tr>
                    {% for data in weatherdata %}
                        <tr>
                            <td>{{ data.observation_timestamp }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.temperature }}℃</td>
                            <td>{{ data.relative_humidity }}</td>
                            <td>{{ data.wind_speed }}</td>
                            <td>{{ data.uv_index }}</td>
                            <td>{{ data.cloud_cover }}%</td>
                            <td>{{ data.cloud_ceiling }} mtr</td>
                            <td>{{ data.precipitation_12_hr }}mm</td>
                            <td>
                                <a href="#"
                                   class="btn btn-outline-primary btn-sm float-end">
                                    <i class="fa fa-info-circle fa-fw"></i> Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {# Mobile view #}
            {% for data in weatherdata %}
                <div class="col-12 d-block d-lg-none mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-muted float-end">
                                <i class="fas fa-map-marker fa-fw"></i> Bukura, KE
                            </h6>
                            <h4 class="mb-2">{{ data.description }}</h4>
                            <h6 class="text-muted mb-3">
                                <i class="fas fa-clock fa-fw"></i> {{ data.observation_timestamp }}
                            </h6>
                            <a href="#" class="btn btn-outline-primary btn-sm float-end">
                                <i class="fa fa-info-circle fa-fw"></i> Details
                            </a>
                            <p class="card-text">
                                RH: {{ data.relative_humidity }}% <br/>
                                Temp: {{ data.temperature }} <sup>0</sup>C <br/>
                                Wind Speed: {{ data.wind_speed }} km/hour <br/>
                                Cloud Cover: {{ data.cloud_cover }}% <br/>
                                Precipitation: {{ data.precipitation_12_hr }} mm <br/>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {# Pagination #}
            <div class="col-12">
                <div class="current pb-3 text-center">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
                <div class="text-center mb-2">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-primary"
                           href="?page=1&q={{ request.GET.q }}&valid={{ request.GET.valid }}&type={{ request.GET.type }}">&laquo;
                            first</a>
                        <a class="btn btn-primary"
                           href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}&valid={{ request.GET.valid }}&type={{ request.GET.type }}">previous</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary"
                           href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}&valid={{ request.GET.valid }}&type={{ request.GET.type }}">next</a>
                        <a class="btn btn-outline-primary"
                           href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}&valid={{ request.GET.valid }}&type={{ request.GET.type }}">last
                            &raquo;</a>
                    {% endif %}
                </div>
            </div>

        {% else %}
            {% include "component/no-results.html" with message="You have not recorded any expenses" %}
        {% endif %}

    </div>

{% endblock content %}