{% extends 'layout/master.html' %}

{% block content %}

    <a href="{% url 'list_expenses' %}" class="btn btn-warning float-end btn-sm">
        <i class="fa fa-caret-left fa-fw"></i> Go Back
    </a>
    <h1 class="h3 mb-3">
        <i class="fa fa-money-bill fa-fw"></i> {{ expense.name }}
    </h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-lg-3 gb-5">
                        <div class="col">
                            <label>Name</label>
                            <h4>{{ expense.name }}</h4>
                        </div>
                        <div class="col">
                            <label>Amount</label>
                            <h4>Ksh {{ expense.amount_formatted }}</h4>
                        </div>
                        <div class="col">
                            <label>When</label>
                            <h4>{{ expense.when }}</h4>
                        </div>
                    </div>
                    <div class="col pt-5">
                        <label>Description</label>
                        <h4>{{ expense.description }}</h4>
                    </div>
                </div>
            </div>
            <p class="text-muted">
                Recorded by {{ expense.author.first_name }}
            </p>
        </div>
    </div>

{% endblock content %}